<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Some website</title>
</head>

<body>
    {{> header}}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquid amet pariatur voluptatibus
        repellendus! Sunt totam accusamus architecto labore recusandae, aspernatur eius voluptatem reprehenderit rem.
        Illum veniam laboriosam, debitis natus sequi commodi placeat accusantium nisi eius odit libero facere
        reprehenderit. Provident quam deserunt modi, incidunt corporis, est odit cumque pariatur quaerat ipsam iste.
        Dignissimos exercitationem sit laudantium fuga labore corrupti placeat sequi eos maiores quos, error quo rerum
        tempore dolorum, iste voluptatum hic. At obcaecati doloremque quas similique aliquid repudiandae fugit,
        voluptas beatae, numquam totam ullam ipsam aspernatur libero sequi nihil? Error sequi fugit magni officiis
        accusamus voluptas impedit itaque, est molestias quod pariatur laudantium, minus similique temporibus. Culpa,
        vitae. Corrupti sint earum iure, adipisci esse ut iste beatae non eaque, nesciunt harum fugiat, maxime possimus
        consequuntur rerum inventore dignissimos at tenetur consequatur. Hic quae consequuntur dolorem quasi quis fuga
        facere commodi, corrupti id. Porro officia, fugit, blanditiis dolorem ipsum dolores magnam at maiores tempora
        obcaecati quam? Molestias voluptates provident, numquam commodi doloribus cumque nisi sunt quas, unde tenetur
        excepturi sint fugiat quos similique, illo adipisci. Rerum harum in fuga temporibus quia, unde reiciendis
        accusantium quo necessitatibus tempore eos animi beatae sunt ab fugit iure ipsum dolores ut autem sit totam
        veniam esse quis magnam! Veritatis reprehenderit, molestias neque culpa sit doloribus nostrum eligendi iste
        voluptatem architecto quas delectus. Reiciendis asperiores illo, sequi modi, fuga, autem aliquid quisquam earum
        quos voluptatibus molestiae laboriosam rem debitis! Sapiente earum natus at explicabo veritatis dolorum quas
        repellendus. Necessitatibus delectus nam blanditiis pariatur inventore impedit voluptatibus officia voluptatem
        ut a, recusandae ea fuga libero dolorum adipisci sit harum laudantium, itaque consectetur commodi nemo ex nisi!
        Itaque, accusamus nesciunt voluptatibus dolorem dolore fuga expedita commodi doloremque iure autem delectus
        incidunt aspernatur magni earum, quibusdam natus. Repellendus similique alias corporis totam optio voluptatum,
        quos, asperiores illum quia soluta veritatis vitae nostrum magnam fugiat placeat, ullam ut. Minus placeat
        praesentium quae dolorum eaque nam ducimus possimus amet omnis quibusdam? Quia iure officiis quos doloribus
        rem. Exercitationem similique architecto animi aperiam soluta cupiditate. Cumque quam quaerat aliquam non
        temporibus veniam magni consequatur, libero debitis laborum vero sapiente aspernatur optio assumenda
        necessitatibus! A libero aliquam quos laborum facilis voluptates atque tenetur enim. Debitis explicabo rem unde
        ea consequatur id deleniti assumenda esse possimus quis accusantium quo dolor cum ipsam animi ab nemo, in alias
        nam optio. Quaerat temporibus quibusdam labore debitis, commodi atque perspiciatis eveniet maxime, id, sint
        fugiat officiis quam? Eaque tenetur sapiente mollitia temporibus porro architecto, perferendis magni rem animi
        aliquam sunt dicta, consequatur officia aspernatur rerum distinctio blanditiis ipsum, saepe repellat eos iure!
        Incidunt inventore quod, commodi rerum error saepe reprehenderit deleniti esse molestias quaerat ea fugiat
        voluptatum earum tenetur, ut cum eum porro impedit amet architecto. Atque dignissimos rem amet alias iste ullam
        vel consequuntur minima velit asperiores! Ex nemo maxime a beatae? Eveniet quod atque maiores dolore! Ducimus
        consequatur repellat quidem reiciendis accusamus modi animi, enim esse sit ipsum, dolore explicabo ea provident
        asperiores! Dolorum vel officiis nulla quidem repellat. Dolorem aperiam maxime dolor, saepe molestiae
        cupiditate exercitationem cum, beatae perferendis reprehenderit, numquam temporibus iste impedit? Aperiam
        debitis magni provident ex! Eveniet suscipit repellat aliquam assumenda aperiam officiis id possimus corporis
        in autem, odio quisquam dolore earum quos sunt impedit rerum iure animi! Esse laboriosam, ad eaque aperiam ut
        repellat natus obcaecati, aliquid eveniet exercitationem nam consequatur nesciunt. Recusandae tenetur sit
        maiores hic perferendis incidunt libero debitis suscipit reprehenderit officia, repellat ab, provident id,
        laboriosam voluptatem deleniti. Asperiores minima dignissimos eos rem nulla iure dolores iste tempore nemo
        excepturi? Enim voluptatem, tempore accusamus expedita ex qui aliquid et possimus dolore recusandae ipsa vitae
        fugiat, quaerat illo maiores, perferendis ipsum repudiandae ducimus mollitia excepturi? Alias hic nihil
        repellat accusantium itaque cum dolore beatae consectetur, enim laborum sunt, magnam iste. Ipsa aut hic vitae
        velit alias eius obcaecati vero laudantium totam, officiis repellendus, commodi possimus. Facilis, hic non.
        Fugit excepturi recusandae laborum modi dolores ab tenetur cum assumenda corporis rerum deleniti odio fuga,
        officia mollitia tempore doloremque ut, inventore, quisquam maxime ullam quis velit. Commodi doloremque
        asperiores voluptatibus libero itaque possimus. Commodi, corporis esse. Nobis in omnis dolore mollitia
        consequatur aliquam hic molestias aperiam, tempora fuga voluptas! Blanditiis labore aut beatae itaque possimus
        voluptas dolore vitae praesentium ex molestias dolores error laborum, quo nemo iusto autem cum sapiente
        inventore, tenetur temporibus? Rerum animi ratione nihil fuga vel facere voluptatum facilis natus repudiandae
        temporibus delectus consequuntur maxime veritatis, sit labore dolorem. Dolor voluptatem dolorum doloribus ipsam
        recusandae, ex, placeat minima magnam earum odio necessitatibus et cumque fugit, officiis veritatis enim
        impedit porro distinctio commodi cupiditate? Autem quasi odit nemo aperiam quam at iure voluptas veniam
        excepturi. Suscipit sapiente sit voluptatem quidem ad. Aut culpa odit dolore omnis quasi commodi fugiat
        voluptas minima ipsa maxime, unde harum, tempore optio fuga fugit ipsum deleniti eaque blanditiis quod corporis
        adipisci aperiam dolorum nisi nesciunt? Aut sequi incidunt quos corrupti maiores vel ipsam libero explicabo ad.
        Nesciunt accusantium unde temporibus autem, modi dignissimos sapiente ea maxime vel obcaecati aperiam harum
        sunt odit quia ad, nulla quas placeat similique doloremque voluptatem quod consequuntur perspiciatis. Quos fuga
        obcaecati eius numquam modi delectus voluptas, autem eaque. Dicta illo facilis nisi rerum voluptas incidunt
        quam nemo quaerat accusamus modi dolores minus, delectus quasi praesentium animi itaque dolorum maiores iure ab
        dolore neque nostrum sequi architecto. Quo, sed adipisci. Voluptates non rem nostrum ducimus at et quo pariatur
        temporibus fugiat, officiis, eligendi illo nisi suscipit hic consequatur eveniet minus. Ipsam deserunt
        architecto illo, consequuntur amet voluptate ad suscipit nemo fugiat libero. Vero neque dignissimos et, odio
        beatae quod sunt in veritatis, sapiente aut sit doloremque, provident cupiditate. Ratione, architecto libero
        porro optio, dolorum repellat consequatur dignissimos voluptate dolore repudiandae quae. Odio deleniti,
        repellendus dolore exercitationem inventore similique eum reiciendis possimus obcaecati. Ex perferendis
        suscipit dolorum, sapiente nihil adipisci, odit cupiditate corporis eum aspernatur tenetur at aperiam
        consectetur quam, temporibus illo quaerat doloribus provident nesciunt eligendi modi nulla exercitationem ipsa.
        Aliquid laborum necessitatibus iure suscipit nesciunt! Odio at doloremque sed error ad, porro corporis iure
        dolorem voluptatem.</p>

    {{> footer}}
</body>

</html>